/**
 * CSS styles for Photogenic
 */

/*** Miscellaneous ***/
body {
  background: #191919 url('images/black_paper.png') repeat;
  color: #e6e6e6;
  font-family: 'Cantarell', sans-serif;
  font-size: 0.9em;
  font-size-adjust: 0.482;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
#site-name,
#site-slogan {
  color: #ffffff;
  font-family: 'BonvenoCF', sans-serif;
  font-size-adjust: 0.545;
  font-weight: 100;
  line-height: 1em;
  margin: 0 0 0.3em;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin: 0 0 1em;
}

a {
  color: #0082ff;
  text-decoration: none;
}

a:hover,
a:active,
a.active,
a.active-trail {
  color: #e6e6e6;
}

a.feed-icon {
  display: block;
  margin-top: 1em;
  text-align: right;
}

/*** Page ***/
#page-wrapper {
  margin: 0 auto;
  width: 960px;
}

#page {
  margin-top: 20px;
}

/*** Header ***/
#header {
  margin-bottom: 20px;
}

#logo {
  display: block;
  float: right;
  margin-left: 30px;
}

#site-name {
  font-size: 3em;
}

#site-name a {
  color: #ffffff;
  text-decoration: none;
}

#site-slogan {
  font-size: 1.1em;
  text-transform: uppercase;
}

/*** Navigation ***/
#navigation {
  margin-bottom: 20px;
}

#navigation ul.links {
  display: block;
  margin: 0 0 0.3em;
  padding: 0;
}

#navigation ul.links li {
  margin: 0;
  padding: 0;
}

#navigation ul.links li:after {
  color: #c8c8c8;
}

#navigation ul.links li.last:after {
  content: none !important;
}

#navigation #main-menu {
  font-size: 1.2em;
  text-transform: uppercase;
}

#navigation #main-menu li:after {
  content: " / ";
  padding: 0 0.5em;
}

#navigation #main-menu li a:hover,
#navigation #main-menu li a:active,
#navigation #main-menu li a.active,
#navigation #main-menu li a.active-trail {
  color: #ffffff;
}

#navigation #secondary-menu {
  text-transform: lowercase;
}

#navigation #secondary-menu li:after {
  content: " :: ";
  padding: 0 0.3em;
}

/*** Main ***/
#main-wrapper {
  margin-top: 30px;
}

.one-sidebar #content {
  float: left;
  width: 710px;
}

#sidebar {
  float: right;
  margin-top: 5px;
  width: 250px;
}

/*** Content ***/
#content {
  background-color: #0a0a0a;
  background-color: rgba(10, 10, 10, 0.75);
  box-shadow: 0 0 50px 10px #000000;
  -moz-box-shadow: 0 0 50px 10px #000000;
  -webkit-box-shadow: 0 0 50px 10px #000000;
}

#content .section {
  padding: 10px 25px;
}

#content .section .section {
  padding: 0;
}

/* Tabs */
#content ul.tabs {
  border-color: #323232;
  margin: 0 0 1em;
}

#content ul.tabs li a {
  background-color: #646464;
  border-color: #323232;
  color: #e6e6e6;
}

#content ul.tabs li a:hover,
#content ul.tabs li a:active,
#content ul.tabs li a.active {
  background: #e6e6e6;
  color: #0a0a0a;
}

/*** Sidebar ***/
#sidebar .block {
  background-color: #0f0f0f;
  background-color: rgba(10, 10, 10, 0.4);
  border: 1px solid #323232;
  border-left: none;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 244px;
}

#sidebar .block h2 {
  background-color: #0064ff;
  background-image: linear-gradient(top, #0082ff, #0064ff);
  background-image: -moz-linear-gradient(top, #0082ff, #0064ff);
  background-image: -ms-linear-gradient(top, #0082ff, #0064ff);
  background-image: -webkit-linear-gradient(top, #0082ff, #0064ff);
  font-size: 1.4em;
  margin: -5px -6px 10px 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

#sidebar .block .content {
  padding: 0 10px;
}

/*** Footer ***/
#footer {
  border-top: 1px solid #323232;
  color: #969696;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 10px;
  padding-top: 5px;
}


/*** ---------- ***/


/*** Miscellaneous ***/
img {
  vertical-align: bottom;
}

#content .section .full-width {
  margin-left: -25px !important;
  margin-right: -25px !important;
}

li a.active {
  color: #e6e6e6;
}

/*** Node ***/
div.node .submitted {
  font-size: 0.9em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

div.node .content,
div.node .content .field {
  margin-bottom: 1.5em;
}

div.node .content .field-type-taxonomy-term-reference {
  font-size: 0.9em;
}

div.node .content .field-type-taxonomy-term-reference .field-label {
  margin-right: 0.5em;
}

div.node .content .field-type-taxonomy-term-reference .field-item {
  display: inline;
  margin-right: 1em;
  text-transform: uppercase;
}

div.node .content .field-type-taxonomy-term-reference .field-item:before {
  content: "#";
}

div.node ul.links {
  font-size: 0.9em;
  margin: 0 0 1.5em;
  text-transform: uppercase;
}

div.node ul.links li {
  padding: 0;
}

div.node ul.links li:after {
  color: #c8c8c8;
  content: " / ";
  padding: 0 0.3em;
}

div.node ul.links li.last:after {
  content: none;
}

/* Teaser */
div.node-teaser {
  margin-bottom: 3em;
}

div.node-teaser .teaser-date {
  color: #969696;
  float: left;
  text-align: center;
  text-transform: uppercase;
}

div.node-teaser .teaser-date .day {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

div.node-teaser .teaser-date .month {
  font-size: 1.4em;
  line-height: 1em;
}

div.node-teaser .teaser-date .year {
  font-size: 1.25em;
  line-height: 1em;
}

div.node-teaser .teaser-content {
  margin-left: 4.5em;
}

/* Comments */
#comments {
  margin-top: 3em;
}

#comments .comment {
  border-top: 1px solid #323232;
  margin-bottom: 2em;
  padding-top: 0.5em;
}

#comments .comment .new {
  color: #c80000;
  float: right;
  margin-left: 2em;
}

#comments .comment .submitted {
  margin-bottom: 1.5em;
}

/*** Sidebar blocks ***/
#sidebar .block ul.menu li a {
  color: #e6e6e6;
}

#sidebar .block ul.menu li a:hover,
#sidebar .block ul.menu li a:active,
#sidebar .block ul.menu li a.active,
#sidebar .block ul.menu li a.active-trail {
  color: #0082ff;
}

/*** Search block ***/
#search-block-form input.form-text {
  margin-right: 5px;
  width: 175px;
}

#search-block-form input.form-submit {
  background: transparent url('images/magnifying_glass.png') right center no-repeat;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  text-indent: -9999px;
  width: 24px;
}

/*** Contact Form ***/
#contact-site-form label {
  float: left;
  margin: 0;
  padding-right: 30px;
  text-align: right;
  width: 200px;
}

#contact-site-form input.form-text {
  width: 350px;
}

#contact-site-form textarea {
  width: 420px;
}

#contact-site-form .resizable-textarea .grippie {
  margin-left: 230px;
  width: 418px;
}

#contact-site-form .form-item-copy input {
  margin-left: 230px;
}

#contact-site-form .form-item-copy label {
  float: none;
  padding-right: 0;
  width: auto;
}

#contact-site-form .form-actions input.form-submit {
  margin-left: 230px;
}

/*** Messages ***/
div.messages {
  margin: 0 0 20px;
}

div.status,
table tr.ok {
  background-color: #c8ffc8;
}

div.status {
  border-color: #009600;
}

div.status,
div.status a,
.ok,
.ok a {
  color: #009600;
}

div.warning,
table tr.warning {
  background-color: #ffffc8;
}

div.warning {
  border-color: #c86400;
}

div.warning,
div.warning a,
.warning,
.warning a {
  color: #c86400;
}

div.error,
table tr.error {
  background-color: #ffc8c8;
}

div.error {
  border-color: #c80000;
}

div.error,
div.error a,
.error,
.error a {
  color: #c80000;
}

/*** Form Elements ***/
.form-item,
.form-actions {
  margin: 0 0 1.5em;
}

.container-inline .form-item,
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  margin-bottom: 0.3em;
}

.form-item .description {
  font-size: 0.9em;
}

.form-item .field-suffix small {
  font-size: 0.8em;
}

.marker,
.form-required {
  color: #c80000;
}

/* Checkboxes/Radios */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0 0 0.3em;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.2em;
}

/* Fields */
.form-text,
.form-textarea,
.form-select,
.form-file {
  background-color: #0a0a0a;
  background-color: rgba(10, 10, 10, 0.4);
  border: 1px solid #646464;
  color: #e6e6e6;
  padding: 3px 5px;
}

.form-textarea {
  font-size: 1.2em;
}

.resizable-textarea .grippie {
  background-color: transparent;
  border-color: transparent;
}

.form-select {
  padding: 2px;
}

.form-select option {
  border: none;
}

html.js input.form-autocomplete {
  background-image: url('images/throbber.gif');
  background-position: 100% 4px;
}

html.js input.throbbing {
  background-position: 100% -26px;
}

.password-parent,
.confirm-parent {
  margin-bottom: 0.5em;
}

div.form-item div.password-suggestions {
  border: 1px solid #646464;
  margin: 0;
  padding: 3px 5px;
}

/* Fieldsets */
fieldset {
  border-color: #646464;
}

fieldset .fieldset-legend {
  color: #e6e6e6;
}

html.js fieldset.collapsible .fieldset-legend {
  background-image: url('images/bullet_arrow_down.png');
  background-position: 3px 60%;
  padding-left: 15px;
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url('images/bullet_arrow_right.png');
  background-position: 2px 50%;
}

/* Vertical Tabs */
div.vertical-tabs,
div.vertical-tabs ul.vertical-tabs-list {
  border-color: #646464;
}

div.vertical-tabs ul.vertical-tabs-list li {
  background-color: #646464;
  border-color: #323232;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #e6e6e6;
  border-right-width: 1px;
}

div.vertical-tabs ul.vertical-tabs-list li a {
  color: #e6e6e6;
}

div.vertical-tabs ul.vertical-tabs-list li.selected a {
  color: #0a0a0a;
}

div.vertical-tabs .vertical-tabs-panes {
  padding-top: 0.5em;
}

/*** Lists ***/
.item-list ul,
.item-list ol {
  margin: 0.5em 0;
  padding-left: 1em;
}

.item-list ol {
  padding-left: 2.5em;
}

/*** Menus ***/
ul.menu {
  padding-left: 2em;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.menu li.leaf {
  list-style-image: url('images/bullet_circle.png');
}

ul.menu li.collapsed {
  list-style-image: url('images/bullet_arrow_right.png');
}

ul.menu li.expanded {
  list-style-image: url('images/bullet_arrow_down.png');
}

ul.menu li ul {
  margin: 0.2em 0 0.5em;
}

/*** Tables ***/
table {
  width: 100%;
}

table.sticky-header {
  background-color: #000000;
}

th {
  border-bottom: 3px solid #646464;
  padding: 0.2em 1em 0.2em 0.2em;
}

tbody {
  border-top: 1px solid #646464;
}

tr.even,
tr.odd {
  background-color: #141414;
  border-bottom: 1px solid #646464;
  padding: 0;
}

tr.even {
  background-color: #282828;
}

td {
  padding: 0.2em 1em 0.2em 0.2em;
}
